body {
  background: $lightBlue;
}

.app {
  border: 2px dashed magenta;
  
}

.mainContainer {
  display:flex; 
  flex-direction:row;
  border: 1px dashed greenyellow;
}

.dbsContainer {
  border: 1px solid purple;
  width: 20%;
  
}
.inputsContainer {
  border: 1px solid green;
  width: 30%;
  
}

.transactionsContainer {
  border: 1px solid red;
  width: 50%;
}

.transactions {
  border: 1px solid rgb(1, 255, 1);
  width: 100%;
}

.inputs {
  border: 1px dotted pink;
}

.transaction {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  border: 1px dotted yellow;
}

.transaction p {
  width: 20%;
  margin: auto;
}
