body {
  background: rgb(251, 252, 253);
  
}


button {
  color: lightseagreen;
}

form {
  color: black;
}

.app {
  border: $border dashed magenta;
  
}

.mainContainer {
  display:flex; 
  flex-direction:row;
  border: $border dashed greenyellow;
}

.dbsContainer {
  border: $border solid purple;
  width: 100%;
  
}
.inputsContainer {
  border: $border solid green;
  width: 30%;
  
}

.transactionsContainer {
  border: $border solid red;
  width: 70%;
}

.transactions {
  border: $border solid rgb(1, 255, 1);
  width: 100%;
}

.inputs {
  border: $border dotted pink;
}

.transaction {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  border: $border dotted yellow;
}

.transaction p {
  width: 20%;
  margin: auto;
}
